.footer, html {
    background: #fdf3fb;
}

#ft p a, body, html {
    padding: 0;
}

a:active, a:focus, a:hover {
    outline: 0;
}

html {
    margin: 0;
    color: #aab8c2;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    direction: ltr;
}

#bd, #ft {
    min-width: 240px;
    max-width: 640px;
    width: auto;
    margin: 0 auto;
}

#bd .information {
    color: #66757f;
    font-weight: 300;
}

a:focus, a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#bd {
    padding: 20px;
}

.footer {
    border-top: 1px solid #ccd6dd;
    background: #fab8fb;
}

#ft {
    padding: 5px 15px;
    overflow: hidden;
}

#ft a {
    display: inline-block;
    padding: 5px 0;
}

#ft a.teokuright {
    color: #ffffff;
    float: right;
    margin-left: 20px;
}

#ft a.teokuleft {
    color: #ffffff;
    float: left;
    margin-right: 20px;
}

#header .logo a img {
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

body.oauth {
    padding-top: 20px;
}

.oauth #bd {
    border: 1px solid #ccd6dd;
    border-radius: 4px;
    margin-bottom: 20px;
}

html {
    padding-top: 46px;
    padding-top: 0 \9;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    position: fixed;
    position: static \9;
    top: 0;
    left: 0;
    min-height: 46px;
    width: 100%;
    text-align: center;
    z-index: 1500;
    color: #292f33;
    background: #fff;
    border-bottom: 1px solid #ccd6dd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#header .logo {
    padding: 5px 5px;
    min-width: 240px;
    max-width: 640px;
    width: auto;
    margin: 0 auto;
}

#header .logo a img {
    display: inline-block;
    padding: 5px 0;
}

blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, p, pre {
    margin: 0;
}

#header a:focus, #header a:hover {
    text-decoration: none;
    outline: 0;
}

#header .logo a:focus {
    background-color: transparent;
    border-bottom-color: #55acee;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    color: #292f33;
    font-size: 14px;
    line-height: 18px;
    overflow-y: scroll;
}

body.ja {
    font-family: Arial, "Hiragino Kaku Gothic Pro", Osaka, Meiryo, "MS PGothic", sans-serif;
}

a {
    color: #2b7bb9;
    text-decoration: none;
    background: 0 0;
}
